<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/createOrEditDeptJson" method="post">
    <p>企业id: <input type="text" name="corpId"></p>
    <p>部门名称: <input type="text" name="deptName"></p>
    <p>部门名称: <input type="text" name="managerIds"></p>
    <p>部门名称: <input type="text" name="deptPid"></p>
    <button type="submit">创建部门</button>
  </form>

<br>

  <form action="/createOrEditDeptJson" method="post">
      <p>企业id: <input type="text" name="corpId"></p>
      <p>部门id: <input type="text" name="deptId"></p>
      <p>部门名称: <input type="text" name="deptName"></p>
      <p>部门名称: <input type="text" name="managerIds"></p>
      <p>部门名称: <input type="text" name="deptPid"></p>
      <button type="submit">创建部门</button>
  </form>
</body>
</html>