<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商旅审批首页</title>
</head>
<body>
<div>
    企业id : <span th:text = "${loginInfo.corpId}"></span>
</div>

<div>
    企业名称 : <span th:text = "${loginInfo.corpName}"></span>
</div>

<div>
    用户id : <span th:text = "${loginInfo.userId}"></span>
</div>

<div>
    用户名称 : <span th:text = "${loginInfo.userName}"></span>
</div>

<div>
    手机号 : <span th:text = "${loginInfo.phoneNumber}"></span>
</div>

<a href="/deptInfo">部门与人员</a>
<form action="/loginOutJson" method="post">
    <button type="submit">登出</button>
</form>

<a href="/mq">发送消息队列消息</a>

<a href="/workflow">审批系统</a>

备案号:<a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2022032069号-1</a>
</body>
</html>