<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    企业id : <span th:text = "${loginInfo.corpId}"></span>
</div>

<div>
    企业名称 : <span th:text = "${loginInfo.corpName}"></span>
</div>

<div>
    用户id : <span th:text = "${loginInfo.userId}"></span>
</div>

<div>
    用户名称 : <span th:text = "${loginInfo.userName}"></span>
</div>

<div>
    手机号 : <span th:text = "${loginInfo.phoneNumber}"></span>
</div>

<a href="/deptInfo">部门与人员</a>
<form action="/loginOutJson" method="post">
    <button type="submit">登出</button>
</form>
</body>
</html>